
@import url("http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.min.css");

body {
    padding: 0;
    margin: 0 auto;
    overflow-x: hidden;
}
.majti {
    height:100vh;
    border: 0px solid black;
    background: #1B1C1D;
}
.backi1 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image:url('../images/ks.png');
    height:20vh;
    margin-top:-170px;
    opacity: 0.5;
    margin-bottom: 10px;
    border: px solid white;
   
}
.shkrimi {
    margin-bottom:55px;
    opacity: 0.9;
}
 .shkrimi p {
    color:white;
    font-size:11px;
     color:gray;
     font-family: monospace;
}
.majti .logo {
    height:7.5vh;
   background:#212520;
    margin-bottom:200px;
    text-align: left;
    padding:15px;
}
.logo p4 {
    font-size: 20px;
    color:white;
    font-family: monospace;
    font-weight: 500;
    margin-top:0px;
}
.butoni a{
    color:lightgray;
    border:2px solid darkgray;
    background-color:rgba(192,192,192,0.2);
    border-radius: 5%;
    width:80%;
    margin-bottom:20px;
    height:6vh;
    padding-top:7px;
}
.butoni2 a {
     color:orange;
    border:2px solid orange;
    background-color:rgba(192,192,192,0.2);
    border-radius: 5%;
    width:80%;
    margin-bottom:25px;
    height:6vh;
    padding-top:7px;
}
.butoni a p2 {
    font-size:18px;
}
.butoni2 a p2 {
    font-size:18px;
    font-weight: 500;
}
.butoni a:hover {
    color:#4A4C49;
    background:lightgray;
}
.butoni2 a:hover {
    color:#4A4C49;
    background:orange;
}


.djathti {
    height:100vh;
    background-image: ;
   background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background: whitesmoke;
}
.hello {
    border: px solid black;
     height:82vh;
     margin-top: 20px;
     background: whitesmoke;
}
.djathti .right {
    height:7.5vh;
    background: white;
    padding-top:28px;
}
.right p {
    font-size:11px;
    color:darkslategray;
    font-family: monospace;
    font-weight: 500;
}
.right a {
    font-size:13px;
    
}
.butonat p2 {
    font-size: 22px;
}
.fotoja {
    padding-top:60px;
    margin-bottom:100px;
    height:15vh;
}
.shkr {
    margin-bottom: 25px;
}
.shkr p3 {
    font-size:17px; 
    color:darkgray;
    font-weight: 500;
    font-family:monospace;
    
}
.inputat5 input {
    height:5.5vh;
    margin-bottom: 15px;
}
.checkbox {
    font-size: 18px;
    font-family: monospace;
    color:darkgray
}

@media only screen and (max-width: 991) {
    body {
        overflow: auto;
    }
}



/* Pjesa e dyt e webit pas log iniit
.majti .logo {
    height:4.5vh;
    background:#212520;
}
.logo p {
    font-size: 14px;
    color:whitesmoke;
    margin-top:15px;
    font-family: cursive;
}
.poshti {
    padding-top:50px;
    border:1px solid black;
}
.poshti p1 {
    font-size: 16px;
    color:ghostwhite;
    font-weight: 500;
    font-family: cursive;
}
.poshti p {
    font-size: 15px;
    color:gray;
    font-weight: 500;
    font-family: sans-serif;
    margin-top: -1px;
}
.iconat {
    height:60vh;
    border: 1px solid black;
    padding-top:50px;
    
}
.iconat p3 {
    color:lightgray;
    font-family: monospace;
    font-weight: 500;
    font-size:15px;
    
}
